:root{
    --primary-color: #fff9df;
    --secondary-coloer: #586e2e;
    --font-color: #444025
}
html, body{
    margin: 0;
    padding: 0;
    font-family: 'Akaya Telivigala', cursive;
    height: 100%;
}

body{
    margin-top: -20px;
    height: 100vh;
}
main{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: black;   
}
header, nav, article, aside, footer{
    display: block;
}
header{
    background-color: red;
    width: 100%;
    height: 20%;

}
nav{
    background-color: blue;
    width: 100%;
    height: 10%;
    clear: both;
}
aside{
    margin-top: 10px;
    background-color: yellow;
    width: 29%;
    height: 55%;
    float: right;
    margin-bottom: 10px;
}
article{
    margin-top: 10px;
    background-color: green;
    width: 69%;
    height: 55%;
    float: left;
}
footer{
    background-color: grey;
    width: 100%;
    height: 10%;
    clear: both;
    
}